body {
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

nav {
    margin-bottom: 5%;
}